<div class="footer-admin">
  <h2>Footer Settings</h2>

  <!-- Loading State -->
  <div *ngIf="loading" class="loading">Loading...</div>

  <!-- View Mode -->
  <div *ngIf="!loading && !isEditing">
    <p><strong>Copyright:</strong> {{ footerData.copyrightText }}</p>
    <ul>
      <li><strong>Facebook:</strong> {{ footerData.socialLinks.facebook }}</li>
      <li><strong>Twitter:</strong> {{ footerData.socialLinks.twitter }}</li>
      <li><strong>Instagram:</strong> {{ footerData.socialLinks.instagram }}</li>
      <li><strong>Pinterest:</strong> {{ footerData.socialLinks.pinterest }}</li>
    </ul>
    <button (click)="toggleEdit()">Edit</button>
  </div>

  <!-- Edit Mode -->
  <form *ngIf="isEditing && !loading" (ngSubmit)="saveFooter()">
    <div class="form-group">
      <label>Copyright Text</label>
      <input type="text" [(ngModel)]="footerData.copyrightText" name="copyright"
        class="form-control" required />
    </div>

    <div class="form-group">
      <label>Facebook</label>
      <input type="url" [(ngModel)]="footerData.socialLinks.facebook" name="facebook"
        class="form-control" />
    </div>

    <div class="form-group">
      <label>Twitter</label>
      <input type="url" [(ngModel)]="footerData.socialLinks.twitter" name="twitter"
        class="form-control" />
    </div>

    <div class="form-group">
      <label>Instagram</label>
      <input type="url" [(ngModel)]="footerData.socialLinks.instagram" name="instagram"
        class="form-control" />
    </div>

    <div class="form-group">
      <label>Pinterest</label>
      <input type="url" [(ngModel)]="footerData.socialLinks.pinterest" name="pinterest"
        class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" (click)="toggleEdit()" class="btn btn-secondary">Cancel</button>
  </form>
</div>
