<div class="packages-container">
    <div class="header">
        <h2>Spa List</h2>
        <div class="actions">
            <button class="btn-primary" (click)="addNewProduct()">Add new Spa</button>
        </div>
    </div>

  

    <table class="products-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let package of packages; let i = index">
                <td>{{i + 1}}</td>
                <td><img [src]="package.images[0]" alt="Package image" *ngIf="package.images?.length"></td>
                <td>{{package.name}}</td>
                <td>{{package.category}}</td>
                <td>{{package.tickets[0].price}}</td>

                <td>{{package.location}}</td>
                <td>
                    <button class="btn-edit" (click)="editPackage(package.id)">Edit</button>
                    <button class="btn-delete" (click)="deletePackage(package.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>