<p>edit-coupon works!</p>
<div
  class="container-center"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <form
    *ngIf="isDataFound && couponForm"
    [formGroup]="couponForm"
    style="
      width: 500px;
      height: 550px;
      padding: 24px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      background-color: white;
    "
    (ngSubmit)="onSubmit()"
  >
    <h2 class="align-center">Edit Coupon</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Coupon Quantity</mat-label>
      <input matInput formControlName="quantity" required />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="full-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" required>
          <mat-option *ngFor="let category of categories">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Packages</mat-label>
      <mat-select formControlName="packages" required>
        <mat-option *ngFor="let pac of packages" [value]="pac">
          <div class="package-option">
            <div class="image-container">
              <img *ngIf="pac.image" [src]="pac.image" alt="{{ pac.name }}" />
            </div>
            <span class="package-name">{{ pac.name }}</span>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- discount -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Discount</mat-label>
      <input matInput formControlName="discount" />
      <mat-error *ngIf="couponForm.get('discount')?.hasError('pattern')">
        Discount must be a number followed by % and between 1% and 100%
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Expiry Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="expiryDate"
        required
      />

      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="row">
      <div class="col-10 align-middle">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Coupon Code</mat-label>
          <input matInput formControlName="couponCode" [disabled]="true" />
        </mat-form-field>
      </div>
      <div class="col-2">
        <button
          mat-mini-fab
          aria-label="Example icon button with a delete icon"
          color="primary"
          type="button"
          disabled
        >
          <mat-icon>redeem</mat-icon>
        </button>
      </div>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="mt-3"
      [disabled]="isLoading"
      style="text-align: center; margin-top: 20px; position: relative"
    >
      <mat-spinner
        *ngIf="isLoading"
        diameter="20"
        style="
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
      ></mat-spinner>

      <span [style.visibility]="isLoading ? 'hidden' : 'visible'">
        Update
      </span>
    </button>
  </form>

  <!-- If coupon is not found -->
  <div *ngIf="!isDataFound" class="text-center">
    <h2>Coupon not found!</h2>
    <p>The coupon you are trying to edit does not exist.</p>
    <button mat-button color="primary" (click)="router.navigate(['/coupons'])">
      Go Back to Coupons
    </button>
  </div>
</div>
